.hidden {
  display: none !important;
}
.centered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.err {
  position: relative;
  top: 50px;
  color: red;
  font-weight: bold;
  width: 300px;
  margin: auto;
}
body {
  margin: 0px;
}

.stats-settings, .threads-control, .jitter-limit, .edge-error,
.downscale-level, .threshold-block-size, .threshold-offset, .demo-state,
.lower-hue-control, .upper-hue-control, .lower-saturation-control,
.upper-saturation-control, .lower-value-control, .upper-value-control,
.background-control {
  padding: 10px;
  width: 100%;
  border-bottom: dotted silver 1px;
}
.stats-settings #hideStats:hover {
  cursor: pointer;
}

#mainContent {
  margin: 0 auto;
}
.canvas-wrapper {
  width: 100%;
}
.canvas-big {
  display: inline;
}
.canvas-big:hover {
  cursor: pointer;
}
