.hidden {
  display: none !important;
}
.centered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.err {
  position: relative;
  top: 50px;
  color: red;
  font-weight: bold;
  width: 300px;
  margin: auto;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.stats-settings, .threads-control, .jitter-limit, .edge-error,
.downscale-level, .threshold-block-size, .threshold-offset {
  padding: 10px;
  width: 100%;
  border-bottom: dotted silver 1px;
}
.stats-settings #hideStats:hover {
  cursor: pointer;
}

#mainContent {
  margin: 0 auto;
}

.canvas-big {
  display: inline;
}
.canvas-big:hover {
  cursor: pointer;
}

.reset-button {
  position: relative;
  padding: 15px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 18px;
  background: none;
  border: none;
  z-index: 15;
}

.canvas-wrapper {
  position: relative;
  width: 100%;
}

.settings-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.centered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
