.camera-bar-wrapper, .output-bar-wrapper {
  height: 100px;
  background: black;
  display: flex;
}
.output {
  color: white;
  height: 30px;
  padding: 20px 0px;
}
.output label {
  display: block;
  line-height: 30px;
  vertical-align: middle;
}
#camera-bar {
  width: 100%;
  display: flex;
  margin: 0px;
  padding: 0px 30px;
}
.camera-bar-item {
  display: inline-block;
  width: 33.33%;
}
.scanner-bar-item {
  display: inline-block;
  width: 100%;
}
.camera-bar-item div, .scanner-bar-item div {
  width: 100%;
  justify-content: center;
  display: flex;
}
.camera-bar-icon {
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  background: black;
}
.gallery-wrapper {
  padding: 23px 0px;
}
.take-photo-wrapper, .refresh-button-wrapper {
  padding: 14px 0px;
}
.face-mode-wrapper {
  padding: 23px 0px;
}
#gallery {
  height: 50px;
  width: 50px;
}
#takePhotoButton, #retryButton, #doneButton {
  font-size: 48px;
  padding: 10px;
  width: 72px;
}
#takePhotoButton:active {
  color: silver;
  border: 2px solid silver;
}
#facingModeButton {
  font-size: 30px;
  padding: 10px;
  width: 55px;
}
#retryButton {
  color: black;
  background-color: white;
}
