.reset-button {
  position: relative;
  padding: 15px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 18px;
  background: none;
  border: none;
  font-family: "Times New Roman";
  z-index: 15;
  outline: none;
}
.settings-wrapper {
  position: relative;
  justify-content: center;
  display: flex;
  width: 100%;
}
.settings-content {
  position: relative;
  display: block;
}
.pro-icons {
  position: relative;
  display: flex;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.settings-bar {
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.settings, .pro-settings {
  color: white;
  font-size: 16px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}
.pro-icon {
  width: 14.286%;
  color: white;
  font-size: 24px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}
.pro-icon input {
  width: 24px;
  pointer-events: auto;
}
.pro-icon:hover {
  cursor: pointer;
}
.single-label {
  vertical-align: text-bottom;
  position: relative;
  top: 5px;
}
#wbIcon {
  display: inline;
  font-size: 16px;
}
.settings-bar label {
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.pro-settings label {
  padding: 15px 5px;
}
.settings-bar select {
  display: block;
  margin: 3px 2px;
  font-size: 14px;
}
.settings-bar input[type=checkbox] {
  display: block;
  position: relative;
}
#jitterLimit, #edgeError, #thresholdBlockSize, #thresholdOffset,
#lowerHue, #upperHue, #lowerSaturation, #upperSaturation, #lowerValue, #upperValue {
  width: 130px;
}
#downscaleLevel {
  width: 93px;
}
#threadsNum {
  width: 90px;
}
.settings-bar input[type=range],
#jitterLimit, #edgeError, #downscaleLevel,
#thresholdBlockSize,#thresholdOffset,
#lowerHue, #upperHue, #lowerSaturation, #upperSaturation, #lowerValue, #upperValue {
  display: block;
  -webkit-appearance: none;
  margin: 7px 2px;
}
.pro-settings input[type=range] {
  width: 200px;
}

.settings-bar input[type=range]:focus,
#jitterLimit:focus, #edgeError:focus, #downscaleLevel:focus,
#thresholdBlockSize:focus, #thresholdOffset:focus,
#lowerHue:focus, #upperHue:focus, #lowerSaturation:focus,
#upperSaturation:focus, #lowerValue:focus, #upperValue:focus {
  outline: none;
}

.settings-bar input[type=range]::-webkit-slider-runnable-track,
#jitterLimit::-webkit-slider-runnable-track,
#edgeError::-webkit-slider-runnable-track,
#downscaleLevel::-webkit-slider-runnable-track,
#thresholdBlockSize::-webkit-slider-runnable-track,
#thresholdOffset::-webkit-slider-runnable-track,
#lowerSaturation::-webkit-slider-runnable-track, #upperSaturation::-webkit-slider-runnable-track,
#lowerValue::-webkit-slider-runnable-track, #upperValue::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: white;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  cursor: pointer;
}

#lowerHue::-webkit-slider-runnable-track, #upperHue::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background-image: linear-gradient(to right, blue, cyan, green, yellow, red, indigo);
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  cursor: pointer;
}

.settings-bar input[type=range]::-webkit-slider-thumb,
#jitterLimit::-webkit-slider-thumb,
#edgeError::-webkit-slider-thumb,
#downscaleLevel::-webkit-slider-thumb,
#thresholdBlockSize::-webkit-slider-thumb,
#thresholdOffset::-webkit-slider-thumb,
#lowerSaturation::-webkit-slider-thumb, #upperSaturation::-webkit-slider-thumb,
#lowerValue::-webkit-slider-thumb, #upperValue::-webkit-slider-thumb {
  width: 9px;
  height: 20px;
  -webkit-appearance: none;
  margin-top: -8px;
  background: #5c85b8;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}

#lowerHue::-webkit-slider-thumb, #upperHue::-webkit-slider-thumb {
  width: 9px;
  height: 20px;
  -webkit-appearance: none;
  margin-top: -8px;
  background: white;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}
.settings-bar input[type=range]:focus::-webkit-slider-runnable-track,
#jitterLimit:focus::-webkit-slider-runnable-track,
#edgeError:focus::-webkit-slider-runnable-track,
#downscaleLevel:focus::-webkit-slider-runnable-track,
#thresholdBlockSize:focus::-webkit-slider-runnable-track,
#thresholdOffset:focus::-webkit-slider-runnable-track,
#lowerSaturation:focus::-webkit-slider-runnable-track, #upperSaturation:focus::-webkit-slider-runnable-track,
#lowerValue:focus::-webkit-slider-runnable-track, #upperValue:focus::-webkit-slider-runnable-track {
  background: white;
}

#lowerHue:focus::-webkit-slider-runnable-track, #upperHue:focus::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, blue, cyan, green, yellow, red, indigo);
}

@media screen and (max-width: 960px) {
  .settings input[type=range] {
    width: 90px;
  }
  .settings select {
    font-size: 12px;
  }
  .settings {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .settings input[type=range] {
    width: 70px;
  }
  .settings select {
    font-size: 10px;
  }
  .settings {
    font-size: 12px;
  }
}
