canvas {
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}
video {
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}
.invisible {
  display: none;
}
.text-center {
  text-align: center;
}
div {
  margin: 10px;
}
#info {
  font: 16px 'Lucida Grande', sans-serif;
}
.center-block {
  display: block;
  margin: auto;
}
label {
  padding-right: 10px;
  width: 25%;
  vertical-align: top;
  font: 16px 'Lucida Grande', sans-serif;
}
video, img, canvas {
  margin: 10px;
  box-shadow: 0px 0px 81px 0px rgba(0,0,0,0.75);
}
button {
  width: 100%;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
	background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color: #7892c2;
	border-radius: 10px;
	border: 1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 19px;
  padding: 12px 37px;
  margin: 10px 4px 10px 4px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #283966;
}
button:hover {
	background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color: #476e9e;
}
button:active {
	position: relative;
	top: 1px;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 20px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
#take, input[type=range] {
  display: none;
}
.centered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}