.carousel-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
}
.carousel {
  margin: 0;
  padding: 0;
  display: flex;
  transition: all 1s ease;
  width: 560px; /* 640-80 because of two buttons; resized in index.js*/
}
.card {
  background: white;
  display: inline-block;
  text-align: center;
  color: #4e6096;
  font-size: 18px;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.small-canvas {
  width: 128px; /* resized in index.js */
  height: 96px; /* resized in index.js */
  border-radius: 20px;
  padding: 8px;
}
.card div {
  border-radius: 20px;
}
.card div:hover {
  background-color: #c8dcff;
  cursor: pointer;
}
.menu-button {
  z-index: 2;
  height: 112px; /*96+16 because of canvas padding (8+8); resized in index.js*/
  width: 40px;
  font-size: 60px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background: linear-gradient(to bottom, #9bb4e2 5%, #5c85b8 100%);
  border-radius: 10px;
  border: 1px solid #8f99b8;
}
.menu-button:hover {
	background: linear-gradient(to bottom, #5c85b8 5%, #9bb4e2 100%);
}
