.err {
  color: red;
  font-weight: bold;
  padding: 10px;
}
.hidden {
  display: none;
}
.centered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.stats-settings {
  padding-top: 10px;
}
