.header {
  padding-top : 30px;
  color: #5c85b8;
  text-align: center;
}
.err {
  color: red;
  font-weight: bold;
}
.hidden {
  display: none;
}
.centered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}